<div class="home-txtbox text-dark d-block bg-white p-4">
    <div class="mx-4 my-4 px-4 text-center">
        <h4>Hey there!</h4>
        <p>Before we get started, I need access to some of your Spotify stats.</p>
        <a href="/login" class='btn btn-dark'>Log In with Spotify <i class="fab fa-spotify"></i></a>
    </div>
</div>
