body {
    background-color: #000;
    color: #fff;
}

.carousel-control-next-icon, .carousel-control-prev-icon  {
    filter: invert(1);
}

.carousel-item, .home-txtbox {
    border-radius: 15px;
    text-align: center;
}

.bg-trans {
    background-color: rgba(255, 255, 255, 0.75);
}
